<p id="notice"><%= notice %></p>

<h1>Listings</h1>


<br>
<section class="row text-center placeholders">
  <% @listings.each do |listing| %>
    <div class="col-6 col-sm-3 placeholder">
      <%= image_tag listing.image.url(:medium), class: "img-fluid" %>
      
        <div class="text-muted">
          <%= link_to listing.name, listing %>
        </div>
    </div>
  <% end %>
</section>
          
       

<%= link_to 'New Listing', new_listing_path %>
