/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Oswald|Shadows+Into+Light');

/** pages#home **/
/** Navbar ****/
.navbar {
	box-shadow: 10px 2px 5px #888888;
	background-color: #4c394e;

}

.navbar .navbar-brand{
	font-family: 'Lobster', cursive;
	font-size: 2em;
	color :#f63;
}

.navbar-nav li{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	color: #fff;	
}

/*** End of Navbar ******/

.header-text{
	color: #c7002c;
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	font-size: 1.8em;
	margin-left: 30%;
}
.col-md-3:nth-child(4n+1) {
  clear: left;
}

/** Carousel sidebar **/

.mini li{
	list-style: none;
}

.img-rounded {
	border-radius: 12px;
}
/** End of Carousel sidebar **/

.marketing{
	margin-top: 100px;
}

.style_image {
  width: 250px;
  height: 200px;
}

/**** video *******/
#background{
	width:500px;
}

.image_size{
	width: 450px;
	height: 300px;
}
button{
	margin-top: 10px;
}

ul.list-inline {
  margin-top: 10px;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}
.fa{
	padding-left: 10px
}

.social-heading{
	margin-left:80px;
}
/*** end of pages#home ***/

/** login ****/
.col-md-offset-3{
	border: 1px solid #D3D3D3;
	padding: 20px;
	border-radius: 8px;
}

