<%= form_for([@listing, @listing.reviews.build]) do |f| %>
	<p>
		<div id="rating-form">
			<label> Rating </label>
		</div>
	</p>
	<p>
		 <%= f.label :review %>
		<%= f.text_area :comment %>
	</p>
   
	<%= f.submit "Create", class: 'btn btn-primary' %>
<% end %>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>