<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<%= form_for([@listing, @review]) do |f| %>
			<p>
				<div id="rating-form">
					<label> Rating </label>
				</div>
			</p>
			<p>
				 <%= f.label :review %>
				<%= f.text_area :comment %>
			</p>
		   
			<%= f.submit "Edit", class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>
